.svv-modal-dialog-view-container {
}

.svv-wgt-modal-container {
  //padding: 25px;

  @include media-breakpoint-down(sm) {
    min-height: 400px;
  }

  .svv-modal-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    min-height: 50px;

    .svv-modal-title {
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
      color: $svv_text_black;
    }
    .close-modal-btn {
      position: absolute;
      right: 7px;
      top: 8px;
      width: 30px;
      height: 30px;
      font-size: 20px;
      color: $svv_text_gray;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px;
      line-height: 1;
      border: 1px solid transparent;
      border-radius: 20px;
      transition: $global-transition;

      &:hover {
        border-color: $svv_blue_light;
        background-color: $svv_blue_light;
        color: #fff !important;
        transition: $global-transition;
      }
    }

    .modal-header-languages-selector-container {
      position: absolute;
      left: 20px;
      top: 10px;

      .svv-languages-selector {
        margin-top: 0;
        padding-left: 0;
      }

      .svv-custom-vs-select {
        .vs__dropdown-toggle {
          height: 30px;
        }

        .vs__selected {
          line-height: 19px;
        }
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .modal-header-calendar-switch-container {
      position: absolute;
      top: 10px;
      left: 200px;
      display: flex;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}

.svv-wgt-toggle-btn {
  position: fixed;
  right: 0;
  bottom: 15%;
  font-family: $svv_font_sofia;

  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  line-height: 1;
  cursor: pointer;
  background-color: $svv_blue_light;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  transition: $global-transition;
  display: flex;
  align-items: center;
  z-index: 100;

  -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.15);

  .wgt-toggle-btn-icon {
    margin-right: 10px;
    transition: $global-transition;
  }

  &.open-wgt {
    background-color: $svv_orange_light;

    .wgt-toggle-btn-icon {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: $svv_orange_light;
    transition: $global-transition;
  }
}
