.svv-wgt-modal-container,
#svv-wgt-app {
  .svv-list-pagination-container {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-bottom: 5px;

    .pagination-control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      border: 1px solid transparent;
      color: $svv_text_gray;
      transition: $global-transition;
      border-radius: 3px;

      &.active {
        color: $svv-brand-primary;
        font-weight: 600;
      }

      &:hover {
        fill: $svv-text-hover-color;
        background: $svv-elements-background-color;
        border-radius: 7px;
        color: $svv-text-hover-color;
        transition: $global-transition;
      }
    }
  }
}
