#widget-wrapper {
  min-width: 1080px;
  width: 100%;
  @include media-breakpoint-down(md) {
    min-width: unset;
    width: 100%;
  }
  @include media-breakpoint-down(sm) {
    min-width: unset;
    width: 100%;
  }
}

.svv-wgt-modal-container,
#svv-wgt-app {
  .svv-plain-list-container {
    //padding-left: 5%;
    //padding-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;

    @include media-breakpoint-down(sm) {
      padding-left: 5px;
      padding-right: 5px;
    }

    .svv-mobile-wgt-controls-container {
      padding: 5px 5px 0 5px;
    }

    .svv-plain-list-container-header {
      position: relative;
      min-height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: visible !important;

      //@include media-breakpoint-up(md) {
      //  padding-left: 100px;
      //
      //  &.with-calendar-toggle-btn {
      //    padding-left: 250px;
      //  }
      //}
    }

    .svv-plain-list-container-title {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      //margin-bottom: 5px;
    }

    .svv-plain-list-header-languages-selector-container {
      position: absolute;
      left: 20px;
      top: 10px;

      .svv-languages-selector {
        margin-top: 0;
        padding-left: 0;
      }

      .svv-custom-vs-select {
        .vs__dropdown-toggle {
          height: 30px;
        }

        .vs__selected {
          line-height: 19px;
        }
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .svv-plain-list-header-calendar-switch-container {
      position: absolute;
      top: 10px;
      left: 200px;
      display: flex;

      @include media-breakpoint-down(md) {
        display: none;
      }

      &.without-lang-selector {
        left: 20px;
      }
    }

    .events-data-container {
      //border: 1px solid $svv-text_border_gray;
      border-radius: 8px;
      visibility: visible !important;
    }

    .plain-list-header-container {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .svv-events-calendar-container-inner {
      background-color: $svv_common_background;
    }

    .servv-logo-container {
      margin-left: 38px;
    }
  }
}
