.svv-search-container {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  max-width: calc(50% - 0.875em);
  &.header-position {
    position: absolute;
  }

  &.on-page-wgt {
    top: 10px;
    right: 20px;
  }

  &.dialog-wgt {
    top: 7px;
    right: 40px;
  }

  &.list-metadata-location {
    position: absolute;
    left: 0;
    top: 2px;
  }

  .svv-search-component {
    display: flex;
    align-items: center;
    width: 100%;
    // border: 1px solid $svv-elements-border;
    background-color: $svv_common_background;
    // color: red;
    //width: 32px;
    height: 31.5px;
    border-radius: 10.5px;
  }

  .svv-open-search-btn {
    border: 1px solid $svv-elements-border;
    background-color: $svv_common_background;
    color: $svv_blue_ultra_dark;
    width: 29px;
    height: 29px;
    border-radius: 10.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $global-transition;

    svg {
      width: 15px;
      height: auto;
      stroke: $svv-brand-primary;
      fill: $svv-brand-primary;
      transition: $global-transition;
    }

    &:hover {
      border-color: $svv-brand-secondary;
      background-color: $svv-brand-secondary;
      transition: $global-transition;
      svg {
        stroke: $svv-brand-primary;
        fill: $svv-brand-primary;
        transition: $global-transition;
      }
    }
  }

  .svv-search-input-container {
    // height: 27px;
    width: 0;
    max-width: 0;
    overflow: hidden;
    transition: $global-transition;
    display: flex;
    align-items: center;
  }

  .svv-search-input {
    display: block;
    width: 100%;
    margin: 0;
    height: 30px;
    border: none;
    border-radius: 100px;
    color: $svv_text_black;
    font-weight: 600;
    margin-left: 10px;

    background-color: transparent;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $svv-text_gray;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $svv-text_gray;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $svv-text_gray;
    }

    &:active,
    &:focus {
      outline: none;
      border: none;
    }
  }

  .svv-action-search-btn {
    background-color: $svv_common_background;
    color: $svv_text_gray;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 10.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $global-transition;
    margin-left: auto;
    // margin-right: 5px;

    svg {
      width: 15px;
      height: auto;
      fill: $svv_text_secondary;
      transition: $global-transition;
    }

    &:hover {
      border-color: $svv_text_secondary;
      background: $svv-elements-background-color;
      border-radius: 7px;
      color: $svv-text-hover-color;
      transition: $global-transition;
      svg {
        stroke: $svv_white;
        transition: $global-transition;
      }
    }
  }

  &.open-search {
    width: calc(50% - 0.875em);
    border: 1px solid $svv-brand-primary;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
      0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10.5px;
    padding-right: 2px;
    .svv-search-input-container {
      transition: $global-transition;
      width: 100%;
      max-width: 100%;

      @include media-breakpoint-down(sm) {
        width: 250px;
        max-width: 250px;
      }
    }
    .svv-open-search-btn {
      border-color: $svv_text_secondary;
      background-color: $svv_white;
      transition: $global-transition;
      border: none;
      margin-right: 3px;
      width: 30px;
      height: 30px;
      &:hover {
        fill: $svv_text_secondary;
        background: $svv-elements-background-color;
        border-radius: 7px;
        color: $svv-text-hover-color;
        border: none;
      }
      svg {
        fill: $svv_text_secondary;
        color: $svv_white;
        transition: $global-transition;
      }
    }
  }
}
