$svv_common_background: var(--servv-widget-background);
$svv_text_black: var(--servv-text-main); //main text | view icons
$svv_text_secondary: var(--servv-text-secondary); //secondary text
$svv_text_gray: var(--servv-text-tertiary); //days icons filter text
$svv_white: var(--servv-card-background); // card background
$svv-brand-primary: var(--servv-primary-color);
$svv-brand-secondary: var(--servv-secondary-color);
$svv-text-hover-color: var(--servv-link-hover-color);
$svv-elements-background-color: var(--servv-elements-background);
$svv-elements-border: var(--servv-elements-border);
$svv_text_border_gray: #d0d1d6;
$svv_blue_dark: #000;
$svv_bgr_gray: #f5f6fa;
$svv_blue_ultra_dark: black;
$global-transition: 210ms;
$svv-card-border-radius: 8px;
$svv_font_maven: "Maven Pro", sans-serif;
$svv_font_sofia: "sofia-pro";

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
