//font-family
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif !important;
}
// size
$font-size-display-2xl: 4.5rem;
$font-size-display-xl: 3.75rem;
$font-size-display-lg: 3rem;
$font-size-display-md: 2.25rem;
$font-size-display-sm: 1.875rem;
$font-size-display-xs: 1.5rem;
$font-size-text-xl: 1.25rem;
$font-size-text-lg: 1.125rem;
$font-size-text-md: 1rem;
$font-size-text-sm: 0.875rem;
$font-size-text-xs: 0.75rem;

// line-height
$line-height-display-2xl: 5.625rem;
$line-height-display-xl: 4.5rem;
$line-height-display-lg: 3.75rem;
$line-height-display-md: 2.75rem;
$line-height-display-sm: 2.375rem;
$line-height-display-xs: 2rem;
$line-height-text-xl: 1.875rem;
$line-height-text-lg: 1.75rem;
$line-height-text-md: 1.5rem;
$line-height-text-sm: 1.25rem;
$line-height-text-xs: 1.125rem;

// weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// letter spacing
$less-spacing: -2%;

//styles
.display-2xl {
  font-size: $font-size-display-2xl;
  line-height: $line-height-display-2xl;
  letter-spacing: $less-spacing;
}
.display-xl {
  font-size: $font-size-display-xl;
  line-height: $line-height-display-xl;
  letter-spacing: $less-spacing;
}
.display-lg {
  font-size: $font-size-display-lg;
  line-height: $line-height-display-lg;
  letter-spacing: $less-spacing;
}
.display-md {
  font-size: $font-size-display-md;
  line-height: $line-height-display-md;
}
.display-sm {
  font-size: $font-size-display-sm;
  line-height: $line-height-display-sm;
}
.display-xs {
  font-size: $font-size-display-xs;
  line-height: $line-height-display-xs;
}
.text-xl {
  font-size: $font-size-text-xl;
  line-height: $line-height-text-xl;
}
.text-lg {
  font-size: $font-size-text-lg;
  line-height: $line-height-text-lg;
}
.text-md {
  font-size: $font-size-text-md;
  line-height: $line-height-text-md;
}
.text-sm {
  font-size: $font-size-text-sm;
  line-height: $line-height-text-sm;
}
.text-xs {
  font-size: $font-size-text-xs;
  line-height: $line-height-text-xs;
}

.regular {
  font-weight: $font-weight-regular;
}
.medium {
  font-weight: $font-weight-medium;
}
.semibold {
  font-weight: $font-weight-semibold;
}
.bold {
  font-weight: $font-weight-bold;
}
